
.App {
    background-color: #f2d022;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    border-radius: 30px;
}

.profilePhoto {
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

.AudioLib {
    background-color: #f2f2f2;
    border-radius: 30px;
}

.toWhomProfile {
    border-radius: 30px;
    width: 150px;
    height: 150px;
}

.toWhomProfileText {
    width: 130px;
    overflow: hidden;
}
